<ion-view view-title="Ammo">
  <ion-content >
      
      
      <ion-list  >
          <ion-item ng-repeat="item in ammoTypes" class="row-no-padding" ng-click="validateSelection(item, true); $event.stopPropagation();">
              <label class="checkbox">
                  <input type="checkbox" ng-click="validateSelection(item); $event.stopPropagation();" ng-model="item.checked">
                  {{item.name}} <small>{{formatStats(item, '(', ')', ', ')}}</small>
              </label>
          </ion-item>
      </ion-list>
      
  </ion-content>
</ion-view>
