<ion-view view-title="Firing Modes">
  <ion-content >
      
      <ion-list  >
          <ion-item ng-repeat="item in firingModes" class="row-no-padding" ng-click="validateSelection(item, true); $event.stopPropagation(); goBack();">
              <label class="checkbox">
                  <input type="checkbox" ng-click="validateSelection(item); $event.stopPropagation(); goBack();" ng-model="item.checked">
                  {{item.name}} <small>{{formatStats(item, '(', ')', ', ')}}</small>
              </label>
          </ion-item>
      </ion-list>
      
      
  </ion-content>
</ion-view>
