<ion-view view-title="{{attackType.name}} Attack">
    <ion-content >
        
        <h3>Attacker's Situation</h3>
        <ion-list>
            <ion-item ng-repeat="item in attackerSituations" class="row-no-padding" ng-if="isModifierApplicable(item)" ng-click="validateSelection(item, true); $event.stopPropagation();" >
                <label class=" checkbox">
                <input type="checkbox" ng-click="validateSelection(item); $event.stopPropagation();" ng-model="item.checked" data-ui-sref-opts="{reload: true}">
                {{item.name}} <small>{{formatStats(item, '(', ')', ', ')}}</small>
                </label>
            </ion-item>
        </ion-list><p>&nbsp;</p>

        <!-- Since we know firing mode and choke only apply to ranged, don't even render their headers for non ranged attacks -->
        <div ng-if="attackType.name==rangedAttackType">

            <h3>Firing Mode</h3>            
            <ion-list>
                <ion-item class="row-no-padding" ng-click="showTablessView('app.firingMode'); $event.stopPropagation();">
                    <label class=" checkbox">
                        <input type="checkbox" ng-model="firingMode.checked">
                        {{firingMode!=null?firingMode.name:'None'}} <small>{{formatStats(firingMode, '(', ')', ', ')}}</small>
                    </label>
                </ion-item>
            </ion-list>
            
            <h3>Ammunition</h3>
          <ion-list  >
              <ion-item class="row-no-padding" ng-click="showTablessView('app.ammo'); $event.stopPropagation();">
                  <label class="checkbox">
                      <input type="checkbox" ng-model="ammo.checked">
                      {{ammo!=null?ammo.name:'None'}} <small>{{formatStats(ammo, '(', ')', ', ')}}</small>
                  </label>
              </ion-item>
          </ion-list>

            <h3>Shotgun Choke</h3>
            <ion-list>
                <ion-item class="row-no-padding" ng-click="showTablessView('app.shotgunChoke'); $event.stopPropagation();">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="choke.checked">
                        {{choke!=null?choke.name:'None'}} <small>{{formatStats(choke, '(', ')', ', ')}}</small>
                    </label>
                </ion-item>
            </ion-list>
                        
        </div>      

    </ion-content>
</ion-view>
