<ion-view view-title="Attack">
  <ion-content class="padding">
        
      <h3>Melee Attacker's Situation</h3>
      <ion-list  >
          <ion-item ng-repeat="meleeAttackerSituation in meleeAttackerSituations" class="row-no-padding">
              <label class="checkbox">
                <input type="checkbox" ng-click="validateSelection(meleeAttackerSituation); $event.stopPropagation();" ng-model="meleeAttackerSituation.checked" >
                {{meleeAttackerSituation.name}}
            </label>              
          </ion-item>
      </ion-list>
      
      <h3>Defender's Situation</h3>
      <ion-list  >
          <ion-item ng-repeat="defenderSituation in defenderSituations" class="row-no-padding">
              <label class="checkbox">
                <input type="checkbox" ng-click="validateSelection(defenderSituation); $event.stopPropagation();" ng-model="defenderSituation.checked" >
                {{defenderSituation.name}}
            </label>              
          </ion-item>
      </ion-list>

  </ion-content>
</ion-view>
