<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


    <!-- Attack Tab -->
    <ion-tab title="Attack" icon-off="ion-ios-body-outline" icon-on="ion-ios-body" href="#/app/tab/attack">
        <ion-nav-view name="tab-attack"></ion-nav-view>
    </ion-tab>
    
    <!-- Defender Tab -->
    <ion-tab title="Target" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/app/tab/target">
        <ion-nav-view name="tab-target"></ion-nav-view>
    </ion-tab>

    <!-- Results Tab -->
    <ion-tab title="Result" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/app/tab/result">
        <ion-nav-view name="tab-result"></ion-nav-view>
    </ion-tab>


</ion-tabs>
