<ion-view view-title="{{attackType.name}} Attack" >
    <ion-content class=" padding animated" on-swipe-right="show(previousWorkflowState())" on-swipe-left="show(nextWorkflowState())"  >
        
        
        <modifier-block name="Firing Mode" item-service-name="firingModes"></modifier-block>
            
        <modifier-block name="Ammunition" item-service-name="ammoTypes"></modifier-block>

        
        <modifier-block name="Attacker's Situation" item-service-name="attackerSituations"></modifier-block>

        <modifier-block name="Martial Arts" item-service-name="martialArts"></modifier-block>
        
            
        
        <modifier-block name="Shotgun Flechette Spread" item-service-name="choke"></modifier-block>
        
        <button class="button button-dark button-full" type="button" ng-click="show(nextWorkflowState())" >Next</button>                
        

    </ion-content>
</ion-view>
