<ion-view view-title="{{attackType.name}} Environment" hide-back-button="true">
    
    <ion-content class=" padding animated" irl-workflow-swipeable  >
        
        
        <modifier-block name="Visibility" item-service-name="visibilityModifiers"></modifier-block>

        <modifier-block name="Light &amp; Glare" item-service-name="lightModifiers"></modifier-block>

        <modifier-block name="Wind" item-service-name="windModifiers" ></modifier-block>

        <modifier-block name="Range" item-service-name="rangeModifiers" ></modifier-block>                    
              
        <button class="button button-dark button-full" type="button" ng-click="show(nextWorkflowState())" >Next</button>                

    </ion-content>
</ion-view>
