<ion-view view-title="{{attackType.name}} Target" hide-back-button="true">
    <ion-content class=" padding animated" irl-workflow-swipeable  >
         

        <modifier-block name="Defender's Situation" item-service-name="defenderSituations"></modifier-block>

        <modifier-block name="Cover" item-service-name="coverService"></modifier-block>
              
        <button class="button button-dark button-full" type="button" ng-click="show(nextWorkflowState())" >Next</button>                         
    </ion-content>
</ion-view>
