<ion-view view-title="{{attackType.name}} Attack" >
    <ion-content class="animated" ng-class="tabAnimation">
        
        <modifier-block name="Firing Mode" item-service-name="firingModes"></modifier-block>
            
        <modifier-block name="Ammunition" item-service-name="ammoTypes"></modifier-block>

        
        <modifier-block name="Attacker's Situation" item-service-name="attackerSituations"></modifier-block>
        
            
        
        <modifier-block name="Shotgun Flechette Spread" item-service-name="choke"></modifier-block>
                        
        

    </ion-content>
</ion-view>
