<ion-view view-title="My Character" hide-back-button="true">
    <ion-content  class="padding" on-swipe-right="saveCharacter()">
        
        <label class="item item-input">
            <input type="text" placeholder="Character Name" ng-model="character.name">
        </label>

        <modifier-block name="character categories" item-service-name="character" block-popout="true" always-applicable="true" ></modifier-block>
      
        <button class="button button-dark button-full" type="button" ng-click="saveCharacter()">Save Me!</button>                

    </ion-content>
</ion-view>
