<ion-view view-title="1.1.0" >
    <ion-content class="padding">
        
        <p>
            Welcome to DigitalPigeon's Shadowrun Combat Calculator
        </p>
      
        <p>
            This tool provides quick calculations for common combat modifiers to determine affects on Attacker and Defender pools, Damage Value (DV), and Armor Penatration (AP)
        </p>

        <p>
            Select the type of action you'd like to take, and then select all applicable options. 
            <b>Note that you can swipe left and right on most pages to go forward and backwards.</b>
        </p>

        <p>Special thanks to my gaming group and testers, Fullmetal, Grimwulf, Romulas, Slyck, and Zippy</p>

        <br/>

      
        <button class="button button-dark button-full" type="button" ng-click="startOver()" >Go Calculate Yourself!</button>
        

    </ion-content>
</ion-view>
