<ion-view view-title="Welcome">
  <ion-content class="padding">
      <p>
          Welcome to DigitalPigeon's Shadowrun 5e Combat Calculator
      </p>
      
      <p>
          This tool provides quick calculations for common combat modifiers to determine affects on Attacker and Defender pools, Damage Value (DV), and Armor Penatration (AP)
      </p>

      <p>
          To use, switch between ranged attacks and melee attacks from the slide out menu. 
          Set the attacker's and defender's modifers, in addition to any environmental factors, across the different tabs.
          You can also set ongoing character specific influences (such as cyberware) in the slide out menu as well.
          Finally, go to the results tabs to see the final calculations.
      </p>

      <p>Special thanks to my gaming group and testers,  Fullmetal, Grimwulf, Romulas, Slyck, and Zippy</p>

      <br/>

      <div>
      <center>
          <a class="button button-dark button-full" type="button" value="Start Calculating" href="#" ng-click="goHome()" >Start Calculating</a>
      </center>
      </div>
      
      <ion-footer-bar >
          <small>Build 1.0.5</small>
      </ion-footer-bar>

  </ion-content>
</ion-view>
